nav {
  position: fixed;
  z-index: 1;
  width: 100%;
}


.menu {
  line-height: 64px;
  .link {
    display: inline-block;
    span {
      width: 100%;
      height: 100%;
      display: inline-block;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      a {
        padding: 0 20px;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: inline-block;
        color: #fff;
      }
      .router-link-exact-active {
        background-color: $redFlatColor;
      }
      &:hover {
        background-color: rgba($color: $redFlatColor, $alpha: 0.3);
      }
    }
    .v-btn:hover {
      background: none;
    }
    .drop-menu {
      position: absolute;
      left: 40px;
      top: 64px;
      background-color: $dark;
      color: #fff;
      width: 90vw;
      height: 0;
      overflow: hidden;
      box-shadow: 0 2px 10px rgba(#000, 0.2);
      border-radius: 0 0 5px 5px;
      transition: all 0.3s ease-in-out;
      &.active {
        height: 450px;
      }
      .box {
        .products {
          margin-top: 10px;
          padding: 0;
          font-size: 15px;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }

      .v-card {
        cursor: pointer;
        .details {
          position: static;
          width: 100%;
          background-color: $darkFlat;
          .item-title,
          .brand,
          .price {
            margin: 0;
            padding: 0;
          }
          .price {
            color: $redColor;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.icons {
  .v-btn:hover {
    background-color: transparent;
    .v-icon {
      color: #fff !important;
    }
  }

  .search {
    width: 0;
    transition: all 0.5s ease-in-out;
    margin-top: 18px;
    margin-right: -45px;
    &:focus {
      outline: none;
    }
  }
  .search-box {
    display: flex;
    align-items: center;
    .search {
      margin: auto;
      width: 200px;
      background-color: #fff;
      padding: 8px 10px;
      color: $dark;
      font-size: 13px;
      border-radius: 20px;
      margin-right: -45px;
    }
    .btn-search {
      background-color: $redFlatColor;
      color: #fff !important;
      border-radius: 50%;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .btn-bag {
    position: relative;
    .items {
      position: absolute;
      top: -5px;
      right: -3px;
      background-color: #f00;
      color: #fff;
      border-radius: 50%;
      padding: 1px;
      width: 15px;
      height: 15px;
    }
  }
}
