$white: #bdc3c75e;
$whiteFlat: #ffffff;

$dark: #1e272e;
$darkFlat: #2C3A47;

$redColor: #c0392b;
$redFlatColor: #e74c3c;

$blueColor: #2980b9;
$blueFlatColor: #3498db;

$greenColor: #27ae60;
$greenFlatColor: #2ecc71;